body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  height: 70px;
  width: 100%;
  margin: 0 auto;
}
header p{
  float: left;
  margin-left: 50px;
}
.dropdownmenu {
  display: flex;
  margin: 20px 0 0;
  justify-content: space-between;
}
.dropdownmenu ul {
  display: none;
}
.dropdownmenu,
.dropdownmenu ul {
  list-style-type: none;
  padding: 0px;
}
.dropdownmenu a {
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: black;
  text-decoration: none;
  padding: 3px 20px;
  text-align: center;
}
.dropdownmenu li {
  position: relative;
}
.dropdownmenu li:hover ul {
  display: block;
  position: absolute;
  top: 41px;
  left: 0px;
  z-index: 100;
}
.sous li{
  background-color: #4ecd13;
}
.navbar input{
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  right: 50px;
  height: 30px;
  width: 250px;
}
.sous li:hover{
  background-color: #4EB61E;
}
.menu{
  background: url(image/fond.jpeg);
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu{
  background: url(image/fond.jpeg);
  height: 400px;
  width: 100%;
  background-size: cover;
}
.menu div{
  float: right;
  text-align: center;
  position: relative;
  top: 30%;
  right: 25%;
}
.menu h1{
  font-size: 40px;
}

.hover:hover{
  color: #4EB61E;
}
.discussion h1{
    text-align: center;
    margin: 30px;
}
.section{
    height: 1000px;
    margin: 30px auto;
    background-color: #B6E39B;
}
.chat{
    display: flex;
    justify-content: center;
}
.chat .div{
    margin: 100px 100px 0px;
}
.chat .div input{
    height: 50px;
    border-radius: 5px;
    width: 400px;
    border: none;
    margin: 15px 0;
}
.inpt{
    height: 300px;
    width: 50%;
    margin: 10px auto;
}
.inpt input{
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 99%;
    margin: 15px 0;
}
.inpt textarea{
    margin: 15px 0;
    height: 300px;
    width: 99%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
button{
    height: 60px;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: #4EB61E;
    color: #FFF;
}
button:hover{
    background-color: #FFF;
    font-family: cursive;
    color: #4EB61E;
}

.foot-section{
    color: #FFF;
    height: 300px;
    background-color: #4EB61E;
    width: 100%;
  }
  .foot-section2{
    display: flex;
    justify-content: center;
  }
  .foot-section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .foot-section2 div{
    height: 200px;
    width: 300px;
    margin: 30px 100px;
  }
  .foot-section2 p{
    margin-left: 15px;
  }
  .foot-section2 strong{
    font-size: 18px;
  }
  footer{
    background-color: black;
    height: 100px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
  }
  footer div{
    height: 50px;
    width: 350px;
    margin: 10px;
  }
  footer span i{
    margin: 30px 10px;
    font-size: 25px;
  }
